<!doctype html>
<html>
<head>
	<title>Home page</title>
	<meta charset=utf-8> </head>
	
	<body>
		<h1>Hello home page</h1>
		<p>HElloo</p>
		
		<form action="/my-link/">
            <input type="submit" value="Click me" />
            
        </form>
    </body>    
			<div class="contenant">
				<img src="images/space2.jpg" alt="image" width=120>
				<div class="texte_centrer">{{content}}</div>
						
        <style>
.contenant {
  position: relative;
  text-align: center;
  color: red;
}

.texte_centrer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
				
			
			
        
				</div>

	
</html>
