<html>
 <p>
 
 
<input type="text" id="quote" name="quote" required 
       minlength="1" maxlength="140" size="0.5" color="white"><br>

  <center><button id="button_1" href="#" class="button" 
onclick="alert('Ouch it sucks, did you really mean to say that?!'+ '\n'+ '\n' +'You are not going to be famous like this... Maybe try our famous quote generator.')">
Will it be famous?</button></center>



<style>
.button {
  background-image: url(images/space3.jpg);
 vertical-align: middle;
  border: none;
 padding: 40px 40px 40px 40px;
  color: #FFFFFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>


</p>
</html>
