
<html>
	<p>"hey"</p>

         <button id="Click Me" href="#" onClick="img(); text()">Click me to get a chance to be famous</button>
 
	<div class="container">
		 <img id="RandomImg" style="width:50%;">
		
		<div class="centered" id="Randomquotes" style="position: absolute;top: 150%;left: 100%;transform: translate(-15%, -15%);color:red"></div>
	</div>
        
        <script language="javascript">
          
            function img() {
				
            var listurlimg = [
       "images/space.jpg",
        "images/forest.jpg",
        "images/Blue_mountains.jpg"];
        
		var randomImg= document.getElementById("RandomImg");
		
          randomIndex = Math.ceil((Math.random()*listurlimg.length-1));
          newImg = listurlimg[randomIndex];
          randomImg.src = newImg;
		}
           
        function text() {
			var randomStrings= [
        "Bonjour, je m'appelle Donald",
        "America is great again",
        "Yes we can", 
        "Now or never",
        "Shoot the moon you'll land in the stars" ]
        var randomDiv = document.getElementById("Randomquotes");
        randomIndex = Math.ceil((Math.random()*randomStrings.length-1));
		newText = randomStrings[randomIndex];
        randomDiv.innerHTML = newText;
        
        } 
        </script>

    

</html>
